{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Market plugin for Craft CMS 3.x
 *
 * Market index.twig
 *
 * @author    mojo interactive GmbH
 * @copyright Copyright (c) 2018 mojo interactive GmbH
 * @link      https://www.mojointeractive.ch/
 * @package   Market
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("mojointeractive\\market\\assetbundles\\market\\MarketAsset") %}
{% do view.registerAssetBundle("mojointeractive\\market\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/superflausch/market/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Market" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('market') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@mojointeractive/market/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('market') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('market') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
