{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Market plugin for Craft CMS 3.x
 *
 * Market Settings.twig
 *
 * @author    mojo interactive GmbH
 * @copyright Copyright (c) 2018 mojo interactive GmbH
 * @link      https://www.mojointeractive.ch/
 * @package   Market
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("mojointeractive\\market\\assetbundles\\market\\MarketAsset") %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
