{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Market plugin for Craft CMS
 *
 * MarketWidget Widget Settings
 *
 * @author    mojo interactive GmbH
 * @copyright Copyright (c) 2018 mojo interactive GmbH
 * @link      https://www.mojointeractive.ch/
 * @package   Market
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("mojointeractive\\market\\assetbundles\\market\\MarketAsset") %}

{{ forms.textField({
    label: 'Message',
    instructions: 'Enter a message here.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}}
