{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Market plugin for Craft CMS
 *
 * MarketWidget Widget Body
 *
 * @author    mojo interactive GmbH
 * @copyright Copyright (c) 2018 mojo interactive GmbH
 * @link      https://www.mojointeractive.ch/
 * @package   Market
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@mojointeractive/market/assetbundles/marketwidgetwidget/dist', true) ~ '/img/MarketWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
